const firebaseConfig = {
  apiKey: "AIzaSyBfcRT_uLy_TCpomc5NDopV1_ieXsgvz2I",
  authDomain: "memo-3dcad.firebaseapp.com",
  projectId: "memo-3dcad",
  storageBucket: "memo-3dcad.appspot.com",
  messagingSenderId: "966683128720",
  appId: "1:966683128720:web:94ce9d840500d16c7ef915",
  measurementId: "G-1LLPQBS3KR"
};